@{
    ViewData["Title"] = "Home Page";
}

<section class="grid place-center home-banner">
    <div class="grid place-center wide-50 container">
        <h1 class="display-4">Welcome to the<span class="highlight-text"> 'School of Learning'</span></h1>
        <p>where knowledge meets excellence!</p>
    </div>
</section>
