@{
    ViewData["Title"] = "Home Page";
}

<section class="grid place-center home-banner">
    <div class="grid place-center wide-50 container">
        <h1 class="display-4">Welcome to the<span class="highlight-text"> 'School of Learning'</span></h1>
        <p>where knowledge meets excellence!</p>
    </div>
</section>
<section>
    <div class="container">
        <div class="section-heading grid place-center">
            <h3>Our <span>Mission</span> & <span>Vision</span></h3>
            <p>
                Excellence and Innovation are at the core of our values.
            </p>
        </div>
        <div class="mission-row flex justify-center gap-30">
            <div class="mission-columns column">
                <div class="flex">
                    <i class="fa-solid fa-bullseye"></i>
                    <h3>Mission</h3>
                </div>
                <p>
                    To be an excellent education provider of choice in Manitoba, a catalyst of success 
                    for students and industry, and a nimble innovator, driving Manitoba’s economic future to greater levels.
                </p>
            </div>
            <div class="mission-columns column">
                <div class="flex">
                    <i class="fa-solid fa-handshake"></i>
                    <h3>Values</h3>
                </div>
                <p>
                    Striving for excellence and high standards in technical education, and encouraging innovation,
                    creativity and entrepreneurship. Embracing diversity by providing a safe, and respectful environment.
                </p>
            </div>
            <div class="mission-columns column">
                <div class="flex">
                    <i class="fa-solid fa-eye"></i>
                    <h3>Vision</h3>
                </div>
                <p>
                    To support Manitoba’s economic, social, and technological progress through industry
                    driven and student focused education that advances learners of all backgrounds and identities.
                </p>
            </div>
        </div>
    </div>
</section>
