<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StudentPortal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StudentPortal.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap">
</head>
<body>
    <header>
        <div class="sub-header">
            <div class="container flex space-between">
                <p class="up-case">Apply before August 20 to avail 'Early-Bird' scholarship!</p>
                <div class="top-side-options flex gap-20">
                    <p class="up-case">
                        Usd <i class="fa-solid fa-angle-down"></i>
                    </p>
                    <p>
                        English <i class="fa-solid fa-angle-down"></i>
                    </p>
                    <p>
                        My Account <i class="fa-solid fa-angle-down"></i>
                    </p>
                </div>
            </div>
        </div>
        <div class="main-header">
            <div class="flex container space-between">
                <a class="company-icon flex">
                    <p class="logo">SL</p>
                    <p>School of Learning</p>
                </a>
                <div class="header-options">
                    <ul class="flex gap-10">
                        <!-- Student Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="eventDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Students
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="studentDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Student" asp-action="Index">Enrolled Students</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Student" asp-action="RegisterStudent">Register New Student</a></li>
                            </ul>
                        </li>

                        <!-- Department Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="registrationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Departments
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="departmentDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Department" asp-action="Index">View All</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Department" asp-action="Create">Create Department</a></li>
                            </ul>
                        </li>
                        <!-- Course Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="courseDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Courses
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="courseDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Course" asp-action="Index">All Courses</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Course" asp-action="Create">Create Course</a></li>
                            </ul>
                        </li>
                        <partial name="_LoginPartial" class="button-gap"/>
                        
                    </ul>
                </div>
                
            </div>
        </div>
    </header>

    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            <div class="socials flex gap-30">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
            <div class="main-footer flex">
                <span class="footer-logo">
                    <div class="footer-icon flex">
                        <p class="logo">SL</p>
                        <p>School of Learning</p>
                    </div>
                    <p class="logo-text">where knowledge meets excellence</p>
                </span>
                <span class="footer-about">
                    <h4 class="up-case">About us</h4>
                    <ul>
                        <li>Our Team</li>
                        <li>Student Reviews</li>
                        <li>Contact Us</li>
                    </ul>
                </span>
                <span class="footer-firm">
                    <h4 class="up-case">Connect</h4>
                    <ul>
                        <li>Locations</li>
                        <li>Careers</li>
                        <li>Privacy Policy</li>
                    </ul>
                </span>
                <span class="footer-support">
                    <h4 class="up-case">Support</h4>
                    <ul>
                        <li>Apply</li>
                        <li>Track Application</li>
                        <li>Report Problem</li>
                    </ul>
                </span>
                <span class="footer-results">
                    <h4 class="up-case">Resources</h4>
                    <ul>
                        <li>Blogs</li>
                        <li>Newsletter</li>
                        <li>Free guides</li>
                    </ul>
                </span>
            </div>
            <div class="grid center copyright">
                <p>&copy; 2024 School Of Learning | All Rights Reserved</p>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
