<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StudentPortal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StudentPortal.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">StudentPortal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <!-- Student Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="eventDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Students
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="studentDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Student" asp-action="Index">Enrolled Students</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Student" asp-action="RegisterStudent">Register New Student</a></li>
                                @* <li><a class="dropdown-item" asp-area="" asp-controller="Student" asp-action="StudentProfile">Student Profile</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Student" asp-action="UpdateStudent">Update a Student</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Student" asp-action="DeleteStudent">Delete a Student</a></li> *@
                            </ul>
                        </li>

                        <!-- Department Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="registrationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Departments
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="departmentDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Department" asp-action="Index">View All</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Department" asp-action="Create">Create Department</a></li>
            @*                     <li><a class="dropdown-item" asp-area="" asp-controller="Department" asp-action="Update">Update</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Department" asp-action="Delete">Delete</a></li> *@
                            </ul>
                        </li>
                        <!-- Course Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="courseDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Courses
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="courseDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Course" asp-action="Index">All Courses</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Course" asp-action="Create">Create Course</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Course" asp-action="Update">Update Course</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Course" asp-action="Delete">Delete Course</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - StudentPortal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
