@model StudentPortal.Models.StudentViewModel

<section class="delete-department grid place-center view">
    <h2>Remove Student</h2>

    <h3>Are you sure you want to remove the following student?</h3>

    <div class="info">
        <p>Student Number: #@Model.StudentID</p>
        <p>Name: @Model.StudentName</p>
        <p>Email Address: @Model.StudentEmail</p>
        <p>Department Number: #@Model.DepartmentID</p>
    </div>
    <div class="view-button flex gap-30">
        @using (Html.BeginForm("DeleteConfirmed", "Student", FormMethod.Post)) {
            <input type="hidden" asp-for="StudentID" />
            <button type="submit" class="btn btn-primary">Yes</button>
            <a href="/Student/Index" class="btn btn-primary">No</a>
        }
    </div>
</section>
