@model StudentPortal.Models.Student

<h2>My User Profile</h2>

<div>
    <p>Student Number: #@Model.StudentID</p>
    <p>Name: @Model.StudentName</p>
    <p>Email Address: @Model.StudentEmail</p>
    <p>Department: @Model.Department.DepartmentName</p>
    <a href="@Url.Action("EnrolledCourses", new { studentId = Model.StudentID })">View Enrolled Courses</a>
</div>
