@model StudentPortal.Models.Student

<section class="delete-department grid place-center view">
    <h2>My User Profile</h2>
    <div class="flex gap-30 info">
        <div class="prf">
            <p>Student Number: #@Model.StudentID</p>
            <p>Name: @Model.StudentName</p>
            <p>Email Address: @Model.StudentEmail</p>
            <p>Department: @Model.Department.DepartmentName</p>
            <div class="view-button flex gap-30">
                <a href="@Url.Action("EnrolledCourses", new { studentId = Model.StudentID })" class="btn btn-primary profile-button">View My Courses</a>
            </div>
        </div>
        <div class="profile-img">
        </div>
    </div>
    
</section>
