@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        .login-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
            padding: 20px;
        }

        .login-card {
            padding: 30px;
            border-radius: 8px;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            max-width: 900px;
        }

        .login-form {
            width: 100%;
            max-width: 400px;
            margin-right: 30px;
        }

            .login-form h2 {
                color: #343a40;
                margin: 30px 0 16px;
                font-size: 32px;
            }

            .login-form .form-floating {
                margin-bottom: 20px;
            }

            .login-form .checkbox {
                margin-bottom: 20px;
            }

            .login-form .btn-primary {
                background-color: #1d439a;
                border-color: #1d439a;
                width: 100%;
            }

            .login-form a {
                color: #212486;
                text-decoration: none;
            }

        .login-image {
            flex: 1;
            background-image: url('@Url.Content("~/media/img/hat.jpg")');
            background-position: center;
            background-size: cover;
            border-radius: 2px;
            min-height: 460px;
        }
    </style>
</head>
<body>
    <div class="login-container">
        <div class="login-card">
            <div class="login-form">
                <h2>@ViewData["Title"]</h2>
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.Password">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button id="registerSubmit" type="submit" class="btn btn-lg btn-primary">Register</button>
                </form>
            </div>
            <div class="login-image"></div>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>
