@model StudentPortal.Models.CourseViewModel

<section class="delete-department grid place-center view">
    <h2>Delete Course</h2>

    <h3>Are you sure you want to remove the following courses?</h3>

    <div class ="info">
        <p>Course Number: #@Model.CourseID</p>
        <p>Course Name: @Model.CourseName</p>
        <p>Duration: @Model.Duration</p>
        <p>Credits: @Model.Credits</p>
        <p>Department Number: #@Model.DepartmentID</p>
    </div>
    <div class="view-button flex gap-30">
        @using (Html.BeginForm("DeleteConfirmed", "Course", FormMethod.Post)) {
            @Html.HiddenFor(model => model.CourseID)
            <button type="submit" class="btn btn-primary">Yes</button>
            <a href="/Course/Index" class="btn btn-primary">No</a>
        }
    </div>
</section>
